<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.salemstate.cs.advising">

    <!-- Application permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Login Activity -->
        <activity
            android:name="edu.salemstate.cs.advising.LoginActivity"
            android:label="@string/app_name_short"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name="edu.salemstate.cs.advising.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Appointments Activity -->
        <activity
            android:name="edu.salemstate.cs.advising.AppointmentsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>